@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* ############### html element styling ############### */
}
html{
    font-size: 62.5%;
}

body{
    font-family:'Montserrat', sans-serif;;
}

ul li{
    list-style: none;
}

ul li a{
    font-size: 1.6rem;
    text-decoration: none; 
}

p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

 /* ############### utility classes ############### */

 .container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

 }

.text-red{
    color: #e63946;
}
.text-white{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-grey{
    color:#555555;
}

.btn{
    display: inline-block;
    padding: 1.5em 1.5em;
    margin: 0.5em 0;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-primary{
    background-color: #fff;
    border-radius: 10em;
    font-size: 12px;
}



 /* ############### header styling ############### */


.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('../img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.lg-heading{
    font-size: 3.5em;
}
.md-heading{
    font-size: 2.2em;
}

.navbar{
    /* border: 2px solid red; */
    padding: 1em;
    margin: 0px,10px;

}

.header .navbar .logo{
    font-size: 3.5em;
    float: left;
}
.header .navbar .navicon  {
    float: right;
    margin-top: 1em;
}
.header .navbar .nav-item{
    padding: 1em;
    display: inline-block;
    text-transform: uppercase;  
}


/* ############### pseudo classes ############### */


.navbar a:link{
    color: #f4f4f4;
}
.navbar a:visited{
    color: #f4f4f4;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
}
.navbar a{
    padding-bottom: 0.5em;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
/* ############### header content style ############### */



.header-content{
 
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));

}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
    text-transform: uppercase;
}


/* ############### showcase section styling ############### */

.showcase{
    background: #ddd;
    padding: 10rem 0;
}
.row{
    background: #fff;
    height: 350px;
}
.row1{
    margin-bottom: 10rem;

}
.row1 .img-box ,.row2 .text-box{
    float: left;
    width: 50%;
}
.row1 .text-box , .row2 .img-box{
    float: right;
    width: 50%;
} 
.row .img-box{
    height:100%;
}
.row .text-box{
    padding: 3rem;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

